body {
    color: white;
    background-color:rgb(29, 92, 66);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    font-size: x-large;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20vh;
}

button {
    color: white;
    border: solid white;
    background: none;
    width: 20vh;
}

button:hover{
    color: rgb(29, 92, 66);
    background:white;
}

#category{
    font-size: large;
    border:none;
}

#category:hover{
    color:white;
    background: rgb(29, 92, 66);
}