body {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    font-family: Tahoma, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
}

.text_box{
    width: 70%;
    text-align: center;
}

a {
    color: rgb(255, 255, 255);
}

.rounded{
    border-radius: 70px;
}

#Background_B{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0)), url('titan_banner.png');
    background-size: cover;      /* Makes the image cover the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;  /* Centers the image within the element */
}

#Background_A{
    background-image: linear-gradient(rgb(0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('home-square-AnneVTakiya.png');
    background-size: cover;      /* Makes the image cover the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;  /* Centers the image within the element */
}

#Background_C{
    background-image: linear-gradient(rgb(0, 0, 0), rgba(168, 20, 20, 0.5)), url('dragon_breeds_overworld_card_game.png');
    background-size: cover;      /* Makes the image cover the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;  /* Centers the image within the element */
}

.red_background{
    background-color: rgb(228, 34, 34);/* Centers the image within the element */
}

.home_page_text {
    width: 60%;
    text-align: center;
    align-content: center;
}

.question_div {
    display: grid;
    align-content: center;
    place-items: center;
    padding: 20px;
    min-width: 40%;
    border-bottom: 1px solid black;
}

.btn {
    border: none;
    outline: none;
    height: 50px;
    min-width: 30%;
    background-color:rgb(223, 223, 223);

}

.btn:hover {
    background-color:aqua;
    color:rgb(255, 255, 255);
}

p {
    font-family: Tahoma, Georgia, sans-serif;
    font-size: 18px;
}

h2{
    font-family: Tahoma, Georgia, sans-serif;
    font-size: 32px;
}

h3 {
    font-style:italic;
    color: rgb(87, 87, 87);
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 70vh;
    padding-bottom: 10vh;
}

.flavor_text{
    text-align: center;
}

.back_g_image{
    background-image:url("titan_banner.png");
    background-color: #cccccc;
    min-width: 50vh;
    min-height: 50vh;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
}

.title_bar {
    color: white;
    background-color: black;
    width: 100%;
}

/* .title_bar:hover {
    background-color: rgb(39, 39, 39);
} */

.image_text_pair {
    width: 90%;
    color: #000000;
    background-color: #000000;
    font-family: Tahoma, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.testing {
    background-color: green;
}


h1 {
    width: 100%;
    text-align: center;
    vertical-align: center;
    color: rgb(255, 255, 255);
}

.block {
    padding-left: 20px;
    padding-right: 20px;
    background-color:#000000;
    color:#ffffff;
}

.product_link {
    color:rgb(43, 236, 120);
}
.product_link:hover{
    color:#ffffff;
}

.spacer {
    margin:200 px;
}

.pic {
    width: 100%;
}

.button-link {
    /* border: solid black 2px; */
    background-color: rgb(195, 195, 195);
    border-radius: 5px;
    color: black;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    text-justify: center;
    margin: 5px;
}

.red_link {
    background-color: rgb(231, 14, 14);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px;
    text-align: center;
    text-justify: center;
    margin: 5px;
}

.red_link:hover {
    color:rgb(231, 14, 14);
    background-color: white;
}

.orange_link {
    background-color: rgb(231, 137, 14);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px;
    text-align: center;
    text-justify: center;
    margin: 5px;
}

.orange_link:hover {
    color:rgb(231, 137, 14);
    background-color: white;
}

.green_link {
    background-color: rgb(68, 231, 14);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px;
    text-align: center;
    text-justify: center;
    margin: 5px;
}

.green_link:hover {
    color:rgb(68, 231, 14);
    background-color: white;
}

.my_list {
    display: flex;
    flex-direction: column;
}

.blue_link {
    background-color: rgb(14, 151, 231);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px;
    text-align: center;
    text-justify: center;
    margin: 5px;
}

.blue_link:hover {
    color:rgb(14, 151, 231);
    background-color: white;
}

.my_link {
    color:aqua;
}
.my_link:hover{
    color:white;
}

.button-link:hover {
    background-color: rgb(170, 255, 0);
    color: rgb(255, 255, 255);
}
.header_button {
    text-decoration: none;
}

.button-link a {
    color:black !important;
}

.dragon_description {
    width: 90%;
    color: #000000;
    background-color: #000000;
    font-family: Tahoma, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.main_vid {
    width: 90%;
    color: #000000;
    background-color: #000000;
    font-family: Tahoma, Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.dragon_description_light {
    width: 100%;
    color: #000000;
    background-color: #000000;
    font-family: Tahoma, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.light_theme {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
    background-color:#000000;
    color:#000000;

}

.light_theme_img {
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom: 10px;
    background-color:#000000;
    color:#000000;

}

.light_body{
    background-color: #000000;
}

@media only screen and (max-width: 600px) {

.image_text_pair {
    width: 90%;
    color: #000000;
    background-color: #000000;
    font-family: Tahoma, Arial, sans-serif;
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


.dragon_description {
    width: 90%;
    color: #000000;
    background-color: #000000;
    font-family: Tahoma, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

.dragon_description_light {
    width: 90%;
    color: #000000;
    background-color: #000000;
    font-family: Tahoma, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
}
