body {
    color: #ffffff;
    background-color: #000000;
    font-family: Tahoma, Arial, sans-serif;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #f5f5c1;
}